h1 {
  font-size: 30px;
  color: #1d2540;
  position: absolute;
  right: -700px;
  bottom: 50px;
}

.steps {
  position: absolute;
  right: 840px;
  top: 290px;
  font-size: 34px;
  color: #3f2873;
  text-align: center;
}

.steps h4 {
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 19px;
  color: #1d2540;
  margin-top: 10px;
}

.game-wrapper-img {
  margin: 20px;
  float: right;
  position: relative;
  left: -450px;
  bottom: 50px;
  width: 390px;
  background-color: #ffff;
  border: 1px solid #1d2540;
  display: inline-flex;
}

.game_description {
  margin: 15px;
}

.price {
  display: inline-flex;
  position: absolute;
  left: 310px;
  bottom: 10px;
}
