h1 {
  font-size: 30px;
  color: #1d2540;
  position: absolute;
  right: -700px;
  bottom: 50px;
}

.help-info {
  position: absolute;
  right: 750px;
  top: 300px;
  background-color: #ffff;
  border: 1px solid #1d2540;
  padding: 10px;
}

h4 {
  margin-bottom: 13px;
}
