h1 {
  font-size: 30px;
  color: #1d2540;
  position: absolute;
  right: -650px;
  bottom: 50px;
}

h3 {
  font-size: 30px;
  color: #1d2540;
  position: absolute;
  left: 1000px;
}

.img-details {
  position: absolute;
  left: 400px;
  margin-top: -50px;
}

.description-wrapper {
  background-color: #ffff;
  max-width: 600px;
  position: relative;
  left: 350px;
  bottom: 230px;
  margin-top: -50px;
  padding: 10px 10px 10px 10px;
}
