@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("OpenSans-Bold");
}

body {
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (min-width: 600px) {
  .container {
    flex-direction: row;
  }
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

/* Links */

.active {
  text-decoration: underline;
}
